@import "variable";
@import "global";

@media (max-width:991px) {
    .about-banner {
        .container {

            h1 br,
            p br {
                display: none;
            }
        }
    }
}

.what-we-do {
    .container {
        max-width: 1200px !important;

        .light-card {
            p {
                color: #4D4D4D
            }

            h3 {
                color: #000;
                font-size: $h2-size !important;
            }

        }

        .blue-card {

            h3,
            p {
                color: #fff;
            }
        }
    }
}

.team-section {
    .container {
        max-width: 1200px !important;
    }
}

.core-section {
    .container {
        max-width: 1200px !important;
    }
}

.home-contact-section {
    .container {
        max-width: 1040px !important;
    }
}

@media (max-width:991px) {
    .home-contact-section {
        .container {
            p br {
                display: none;
            }
        }
    }
}