.primary-solid-btn {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: #fff !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 14px 16px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;

    &:hover {
        background: var(--Brand-30, #0069BE);
        transition: all 0.3s linear;
    }

    &.white {
        background-color: #fff !important;
        color: var(--Grey-10, #000) !important;
        border: 1px solid var(--Grey-50, #D9D9D9);
    }
}

@media (max-width: 991px) {
    .primary-solid-btn {
        padding: 12px 14px;
    }
}

.simple-btn {
    background-color: #fff;
    color: var(--Grey-20, #4D4D4D) !important;
    border: 1px solid var(--Grey-50, #D9D9D9);
    font-family: var(--primary-font);
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 16px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;

    &:hover {
        border: 1px solid var(--Grey-30, #808080);
        color: #000 !important;
        transition: all 0.3s linear;
    }
}

@media (max-width: 991px) {
    .simple-btn {
        padding: 12px 14px;
    }
}

@media (max-width: 767px) {
    .simple-btn {
        padding: 0px 14px;
    }
}

.simple-large-btn {
    background-color: #fff;
    color: var(--Grey-20, #4D4D4D);
    border: 1px solid var(--Grey-50, #D9D9D9) !important;
    font-family: var(--primary-font);
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 12px 12px 12px 16px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    &:hover {
        border: 1px solid var(--Grey-30, #808080);
        color: #000 !important;
        transition: all 0.2s linear;
    }

    &.white {
        color: #fff !important;
        background-color: #0083EE;

        &:hover {
            background: #0069BE !important;
            transition: all 0.2s linear;
        }
    }
}