@import "variable";
@import "global";

.product-banner {
    .container {
        max-width: 1040px !important;
    }

    @media (max-width:767px) {
        .container {

            h1,
            p {
                br {
                    display: none;
                }
            }
        }
    }
}

.process-section {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, #FFF 6.68%), var(--Grey-70, #F2F2F2);

    .container {
        max-width: 1200px !important;

        @media (max-width:991px) {
            .calculation-div {
                .calculation-cards {
                    display: flex;
                    flex-direction: column;

                    &:nth-child(even) {
                        flex-direction: column-reverse;
                    }

                    .content {
                        padding-top: 80px;
                    }
                }
            }
        }
    }
}