@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #0083EE;
    --primary-font: "Inter", sans-serif;
}


$h1-size-desktop: 64px; // Maximum font size for desktop
$h1-size-mobile: 40px; // Minimum font size for smaller devices

$h2-size-desktop: 40px; // Maximum font size for desktop
$h2-size-mobile: 32px; // Minimum font size for smaller devices

$h3-size-desktop: 24px; // Maximum font size for desktop
$h3-size-mobile: 22px; // Minimum font size for smaller devices

$h4-size-desktop: 22px; // Maximum font size for desktop
$h4-size-mobile: 18px; // Minimum font size for smaller devices

$h5-size-desktop: 20px; // Maximum font size for desktop
$h5-size-mobile: 18px; // Minimum font size for smaller devices



$h1-size: clamp(#{$h1-size-mobile}, 5vw, #{$h1-size-desktop});
$h2-size: clamp(#{$h2-size-mobile}, 5vw, #{$h2-size-desktop});
$h3-size: clamp(#{$h3-size-mobile}, 5vw, #{$h3-size-desktop});
$h4-size: clamp(#{$h4-size-mobile}, 5vw, #{$h4-size-desktop});
$h5-size: clamp(#{$h5-size-mobile}, 5vw, #{$h5-size-desktop});
// $h6-size: clamp(#{$h6-size-mobile}, 5vw, #{$h6-size-desktop});